{% extends 'base_layout.html' %}

{% block content %}

<div class="article-detail">
    <div class="article">
        <img src="{{ article.thumb.url  }}" />
        <h2>{{article.title}}</h2>
        <p>{{article.body}}</p>
        <p>{{article.date}}</p>
    </div>
</div>

<div class="comments-list">
    
    {% for comment in comments %}
    <div class="comment">
        <p>{{comment.body}}</p>
        <p>{{article.date}}</p>
        <p class='author'>added by {{comment.author.username}}</p>
    </div>
    {%endfor%}

    <div class="comment-input">
        <form class='site-form' action="{% url 'articles:create_comment' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Add">
        </form>
    </div>
</div>
<script src="/static/clear_field.js"></script>

{% endblock %}